---
layout: default
---
<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        color: darkorange;
    }
</style>
<article class="link">
    <h1>{{ page.title }}</h1>

    {% if page.tags %}
    <div class="tags">
        Tags: {{ page.tags | join: ", " }}
    </div>
    {% endif %}

    {% if page.external_url %}
    <div class="external-link">
        <a href="{{ page.external_url }}" target="_blank" rel="noopener noreferrer">{{ page.external_url }}</a>
    </div>
    {% endif %}

    {% if page.date %}
    <div class="date">
        Added: {{ page.date | date: "%Y-%m-%d" }}
    </div>
    {% endif %}

    <div class="content">
        {{ content }}
    </div>
</article>